tetris/.gradle/1.5/taskArtifacts/cache.properties
tetris/.gradle/1.5/taskArtifacts/cache.properties.lock
tetris/.gradle/1.5/taskArtifacts/fileHashes.bin
tetris/.gradle/1.5/taskArtifacts/fileSnapshots.bin
tetris/.gradle/1.5/taskArtifacts/outputFileStates.bin
tetris/.gradle/1.5/taskArtifacts/taskArtifacts.bin
tetris/.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
tetris/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
tetris/tetris-applet/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
tetris/tetris-applet/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
tetris/tetris-core/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
tetris/tetris-core/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
tetris/tetris-groovy/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
tetris/tetris-groovy/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
tetris/tetris-ui/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
tetris/tetris-ui/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs